In [202]:
#1 - Cleaning Text Steps
    #1 - create a text file and take test from it
    #2 - convert the letter into lowercase 
    #3 - remove punctuations like .,!? (Hi! This is mick.

In [203]:
#run this to download all required NLP packages/components
import nltk
nltk.download('punkt')  #import word_tokenize func
nltk.download('stopwords')  #import stopwords
nltk.download('vader_lexicon')  #import sentiment_analyse func

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package vader_lexicon to /root/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [204]:
import string
from collections import Counter
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords   #this has all stopwords in many language
from nltk.sentiment.vader import SentimentIntensityAnalyzer
import matplotlib.pyplot as plt

In [205]:
import pandas as pd
import numpy as np

In [206]:
data = pd.read_csv('comment1.csv')
data.head()

          UserName                     Comment
0   KarunarathneKK       His work is very neat
1          NimalNL       He works dedicatively
2  ThilakarathneTT       His works are on time
3          KamalK1  His works aren't very good
4          NamalNA       He works dedicatively

In [207]:
data.columns

Index(['UserName', 'Comment'], dtype='object')

In [208]:
len(data)

24

In [209]:
#convert to lovercase
data["Comment"] = data["Comment"].str.lower()
data.head()

          UserName                     Comment
0   KarunarathneKK       his work is very neat
1          NimalNL       he works dedicatively
2  ThilakarathneTT       his works are on time
3          KamalK1  his works aren't very good
4          NamalNA       he works dedicatively

In [210]:
#removing punctuations
data['Comment'] = data['Comment'].apply(lambda x:''.join([i for i in x if i not in string.punctuation]))

# clean_text = lower_case.translate(str.maketrans('','',string.punctuation))
#clean_text = lower_case.translate(str.maketrans('l,o,i','x,y,z',string.punctuation))
    #str1 : Specifies the list of characters that need to be replaced.
    #str2 : Specifies the list of characters with which the characters need to be replaced.
    #str3 : Specifies the list of characters that needs to be deleted.
    #
    #Returns : Returns the translation table which specifies the conversions that can be used

In [211]:
data.head()

          UserName                    Comment
0   KarunarathneKK      his work is very neat
1          NimalNL      he works dedicatively
2  ThilakarathneTT      his works are on time
3          KamalK1  his works arent very good
4          NamalNA      he works dedicatively

In [212]:
#2 - tokenization
#how to break up the sentence to words

#tokenized_words = clean_text.split()
#split() takes lot of time to analyze
#split() can be done using nltk
# tokenized_words = word_tokenize(clean_text,'english')
data['Comment'] = data.apply(lambda row: nltk.word_tokenize(row['Comment']), axis=1)

In [213]:
data.head()

          UserName                          Comment
0   KarunarathneKK      [his, work, is, very, neat]
1          NimalNL        [he, works, dedicatively]
2  ThilakarathneTT      [his, works, are, on, time]
3          KamalK1  [his, works, arent, very, good]
4          NamalNA        [he, works, dedicatively]

In [214]:
#3 - stop words
#words that does not add any meaning to the sentence

#instead of using stop_words, we can use nltk.corpus (its a dataset that nltk has)
#from that import stopwords (a list of stop_words inside of corpus dataset)

In [215]:
# stop_words = ["i", "me", "my", "myself", "we", "our", "ours", "ourselves", "you", "your", "yours", "yourself",
#               "yourselves", "he", "him", "his", "himself", "she", "her", "hers", "herself", "it", "its", "itself",
#               "they", "them", "their", "theirs", "themselves", "what", "which", "who", "whom", "this", "that", "these",
#               "those", "am", "is", "are", "was", "were", "be", "been", "being", "have", "has", "had", "having", "do",
#               "does", "did", "doing", "a", "an", "the", "and", "but", "if", "or", "because", "as", "until", "while",
#               "of", "at", "by", "for", "with", "about", "against", "between", "into", "through", "during", "before",
#               "after", "above", "below", "to", "from", "up", "down", "in", "out", "on", "off", "over", "under", "again",
#               "further", "then", "once", "here", "there", "when", "where", "why", "how", "all", "any", "both", "each",
#               "few", "more", "most", "other", "some", "such", "no", "nor", "not", "only", "own", "same", "so", "than",
#               "too", "very", "s", "t", "can", "will", "just", "don", "should", "now"]

In [216]:
#4 - Eliminating stop words
stop_words = stopwords.words('english')

data["Comment"] = data['Comment'].apply(lambda x: [item for item in x if item not in stop_words])


#5 - NPL Emotion Algorithm
    #1 - check if the word in the final word list is also present in emotion.txt
        # open the emotion file
        # loop through each line and clear it
        # extract the word and emotion using split

    #2 - if word is present -> add the emotion to emotion_list
    #3 - finally count each emotion in the emotion_list

In [217]:
data.head()

          UserName                Comment
0   KarunarathneKK           [work, neat]
1          NimalNL  [works, dedicatively]
2  ThilakarathneTT          [works, time]
3          KamalK1   [works, arent, good]
4          NamalNA  [works, dedicatively]

In [218]:
from textblob import TextBlob

In [219]:
data.dtypes

UserName    object
Comment     object
dtype: object

In [220]:
data["Comment"]= data["Comment"].apply(str)

In [221]:
data.dtypes

UserName    object
Comment     object
dtype: object

In [222]:
type(data)

pandas.core.frame.DataFrame

In [223]:
# analyzer = SentimentIntensityAnalyzer()
# data['Rating'] = [analyzer.polarity_scores(x)['Rating'] for x in data['Comment']]

In [224]:
data['sentiment']= data['Comment'].apply(lambda comment: TextBlob(comment).sentiment)

In [225]:
# def sentiment_calc(comment):
#     try:
#         return TextBlob(comment).sentiment
#     except:
#         return None

# data['sentiment'] = data['Comment'].apply(sentiment_calc)

In [226]:
data

           UserName  ...                                  sentiment
0    KarunarathneKK  ...                                 (0.0, 0.0)
1           NimalNL  ...                                 (0.0, 0.0)
2   ThilakarathneTT  ...                                 (0.0, 0.0)
3           KamalK1  ...                  (0.7, 0.6000000000000001)
4           NamalNA  ...                                 (0.0, 0.0)
5        SiripalaSI  ...                                 (0.0, 0.0)
6        SomapalaSO  ...                  (0.7, 0.6000000000000001)
7       Somadhasa55  ...                                 (0.0, 0.0)
8         SanathS11  ...  (-0.6999999999999998, 0.6666666666666666)
9          KumaraKA  ...                                 (0.0, 0.0)
10     SiridhasaSSS  ...                                 (0.6, 0.9)
11   ThilakadhasaTH  ...                  (0.7, 0.6000000000000001)
12    Sumanadhasa65  ...                                 (0.5, 1.0)
13     WimaladasaCR  ...                                 (0.0, 0.0)
14     Samarapala88  ...                                 (0.0, 0.0)
15          WimalWL  ...  (0.21428571428571427, 0.6428571428571429)
16      NandapalaNA  ...                                 (0.2, 0.6)
17       PalithaP44  ...                  (0.7, 0.6000000000000001)
18        SamanS753  ...                  (0.6000000000000001, 0.9)
19         BimalBBB  ...                                 (0.7, 0.9)
20       RajithaR22  ...                                 (0.8, 0.9)
21       KolithaKO3  ...  (0.35714285714285715, 0.8214285714285714)
22   RathnasiriR456  ...                               (0.75, 0.75)
23   SiriwardanaSDF  ...                  (0.6000000000000001, 0.9)

[24 rows x 3 columns]

In [227]:
data.iloc[0][2]

Sentiment(polarity=0.0, subjectivity=0.0)

In [230]:
sentiment_series = data['sentiment'].tolist()

columns = ['polarity', 'subjectivity']

sentiment_score = pd.DataFrame(sentiment_series, columns=columns, index=data.index)

In [232]:
len(data2)

24

In [233]:
data_final = pd.concat([data,sentiment_score], axis=1)
data_final.head()

          UserName                     Comment  ... polarity  subjectivity
0   KarunarathneKK            ['work', 'neat']  ...      0.0           0.0
1          NimalNL   ['works', 'dedicatively']  ...      0.0           0.0
2  ThilakarathneTT           ['works', 'time']  ...      0.0           0.0
3          KamalK1  ['works', 'arent', 'good']  ...      0.7           0.6
4          NamalNA   ['works', 'dedicatively']  ...      0.0           0.0

[5 rows x 5 columns]

In [260]:
type(data_final)

pandas.core.frame.DataFrame

In [310]:
len(data_final)

24

In [262]:
data_final.iloc[1][0]

'NimalNL'

In [343]:
user_wise_polarity = []

In [344]:
for i in zip(data_final['UserName'], data_final['polarity']):
  user_wise_polarity.append(i)

In [346]:
print(user_wise_polarity)

[('KarunarathneKK', 0.0), ('NimalNL', 0.0), ('ThilakarathneTT', 0.0), ('KamalK1', 0.7), ('NamalNA', 0.0), ('SiripalaSI', 0.0), ('SomapalaSO', 0.7), ('Somadhasa55', 0.0), ('SanathS11', -0.6999999999999998), ('KumaraKA', 0.0), ('SiridhasaSSS', 0.6), ('ThilakadhasaTH', 0.7), ('Sumanadhasa65', 0.5), ('WimaladasaCR', 0.0), ('Samarapala88', 0.0), ('WimalWL', 0.21428571428571427), ('NandapalaNA', 0.2), ('PalithaP44', 0.7), ('SamanS753', 0.6000000000000001), ('BimalBBB', 0.7), ('RajithaR22', 0.8), ('KolithaKO3', 0.35714285714285715), ('RathnasiriR456', 0.75), ('SiriwardanaSDF', 0.6000000000000001)]

In [347]:
user_wise_polarity[0][1]

0.0